lsd_slam_core/bin/
lsd_slam_core/build/
lsd_slam_core/cfg/cpp/
lsd_slam_core/docs/
lsd_slam_core/lib/
lsd_slam_core/src/lsd_slam_core/
lsd_slam_core/.cproject
lsd_slam_core/.project
lsd_slam_core/.pydevproject
lsd_slam_core/thirdparty/Sophus/CMakeFiles/
lsd_slam_core/thirdparty/Sophus/Makefile
lsd_slam_core/thirdparty/Sophus/SophusConfig.cmake
lsd_slam_core/thirdparty/openFabMap/CMakeFiles/
lsd_slam_core/thirdparty/openFabMap/Makefile

lsd_slam_viewer/bin/
lsd_slam_viewer/build/
lsd_slam_viewer/cfg/cpp/
lsd_slam_viewer/docs/
lsd_slam_viewer/msg_gen/
lsd_slam_viewer/src/lsd_slam_viewer/
lsd_slam_viewer/.cproject
lsd_slam_viewer/.project
lsd_slam_viewer/.pydevproject
lsd_slam_viewer/thirdparty/Sophus/CMakeFiles/
lsd_slam_viewer/thirdparty/Sophus/Makefile
lsd_slam_viewer/thirdparty/Sophus/SophusConfig.cmake

cmake_install.cmake
*.cfgc


